<div>
    <label class="logo smalllogo">{{config.ApplicationTitle}}</label>
    <div class="portal_info">
        ようこそ {{loginUserName}}
    </div>
    <div>
        <input type="button" value="Portal" class="combutton" (click)="clickPortal()">
        <input type="button" value="List" class="combutton" (click)="clickList()">
        <input type="button" value="Management" class="combutton" *ngIf="isManagement" (click)="clickManagement()">
    </div>
    <div class="error_message error_div">{{errorMessage}}</div>
</div>