.button_control{
    margin: 10px;
}

.colinfo_table
{
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.selected_row {
    background-color: lightpink;
}