.fdiag_root {
    margin: 1em;
}

.dialog_title{
    font-size: 1.5em;
    font-weight: bold;
}

.control_area{
    text-align: right;
}

.control_button{
    font-size: 1em;    
    margin: 0.5em;
    padding: 10px 20px 10px 20px;

}

.control_button_cancel{
    background: orange;

}